<% include ./partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome, User</h1>
            <p>Either you run the day or the day runs you.</p>
            <p><em>-Jim Rohn</em></p>
        </div>
    </header>
    
    <div class="container">
        <div class="row">
            <div class = "col-sm-4 to-do-list main-list">
                <div>
                   <h1 class="to-do-list">To-do List <i class="fa fa-pencil" aria-hidden="true"></i></h1> 
                   <input id="new-to-do" type="text" placeholder="Add New To-Do">
                   
                   <ul class="to-do-list">
                       <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> To-Do 1</li>
                       <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> To-Do 2</li>
                       <li><span><i class="fa fa-trash" aria-hidden="true"></i></span> To-Do 3</li>
                   </ul>
                </div>
            </div>
            <div class="col-sm-4 well main-list">
                <h1>Notepad</h1>
            </div>
            <div class="col-sm-4 well main-list">
                <h1>Timer</h1>
            </div> 
        </div>
    </div>
    
</div>



<% include ./partials/footer %>