<% include ./partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome, User</h1>
            <p>Either you run the day or the day runs you.</p>
            <p><em>-Jim Rohn</em></p>
        </div>
    </header>
    
    <div class="row">
        <div class = "col-lg-4">
            <h2>To Do List</h2>
        </div>
    </div>
    
    
    
</div>



<% include ./partials/footer %>